.wrapper {
    /* max-width: 1540px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
}
.header-img {
    width: 100%;
    margin-left: 10px;
}
.form-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    width: 100%;
}
.form-name {
    font-weight: bold;
}
.form-content {
    margin: 0;
}
.form-error {
    color: red;
    margin: 0;
    height: 30px;
}
.form-input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
.submit-btn {
    width: 100%;
    height: 40px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.link {
    color: #0073cc;
    text-decoration: none;
}
.link:visited {
    color: #0073cc;
}
.header-logo {
    width: 20%;
}
.header-search {
    height: 50%;
    width: 35%;
    border: 5px;
    padding-left: 10px;
}
.header-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto 0;
    padding-inline-start: 0;
}
.header-btn {
    list-style: none;
}
.header-logout {
    color: white;
    background: black;
    border: none;
    height: 50%;
    margin-right: 10px;
    cursor: pointer;
    font-size: 15px;
}
.header-mypage {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}
.header-login {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}
.header-exhibit {
    background-color: white;
    color: black;
    text-decoration: none;
    margin-right: 15px;
    font-size: 15px;
    cursor: pointer;
    padding: 8% 15px;
    border-radius: 4px;
}
