.wrapper {
    max-width: 1540px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: black;
}
.header-img {
    width: 20%;
    margin-left: 10px;
}
.form-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    width: 100%;
}
.form-dl {
}
.form-dt {
    font-weight: bold;
}
.form-dd {
    margin: 0;
}
.form-error {
    color: #ff5555;
    margin: 0;
    height: 30px;
}
.form-input {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
.submit-btn {
    width: 100%;
    height: 40px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.link {
    color: #0073cc;
    text-decoration: none;
}
.link:visited {
    color: #0073cc;
}
