.contents-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}
.image-area {
    position: relative;
    text-align: center;
    margin: 0 10%;
    aspect-ratio: 1 / 1;
}
.item-img {
    width: 100%;
    position: relative;
}
.item-sold {
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}
.item-sold-msg {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}
.intro-area {
    margin: 0;
}
.item-name {
    margin: 0;
}
.brand-name {
}
.price-area {
    margin-top: 3px;
}
.price {
    font-size: x-large;
}
.item-icon {
    width: 20px;
}
