.tab-titles {
    display: flex;
    margin: 50px;
    padding-left: 10%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid;
}
.tab-inactive {
    text-decoration: none;
    margin-right: 3%;
    font-weight: bold;
    color: black;
}
.tab-active {
    text-decoration: none;
    margin-right: 3%;
    font-weight: bold;
    color: red;
}
.items-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    grid-auto-rows: 1fr;
    width: 100%;
}

.items-area > *:first-child::after {
    content: "";
    width: 0px;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.item-area {
    width: 100%;
    height: 100%;
    position: relative;
}
.item-image {
    width: 100%;
    height: 90%;
    cursor: pointer;
}
.item-name {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
}
.item-sold {
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
    opacity: 0.7;
    width: 100%;
    height: 90%;
    pointer-events: none;
}
.item-sold-msg {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    pointer-events: none;
}
@media screen and (max-width: 480px) {
    .items-area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0 15px;
        grid-auto-rows: 1fr;
        width: 100%;
    }
    .item-area {
        width: 100%;
        height: 80%;
        position: relative;
    }
}
