.tab-titles {
    display: flex;
    margin: 50px;
    padding-left: 10%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid;
}
.tab-title {
    text-decoration: none;
    margin-right: 3%;
}
.items-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    grid-auto-rows: 1fr;
    width: 100%;
}
.items-area > *:first-child::after {
    content: "";
    width: 0px;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}
.item-area {
    width: 100%;
    height: 100%;
}
.item-image {
    width: 100%;
    height: 90%;
    cursor: pointer;
}
.item-name {
    cursor: pointer;
}
