.form-name {
    margin-top: 1em;
}
.img-area {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}
.user-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.item-img-input {
    display: none;
}
.item-img-btn {
    padding: 0.5em 2em;
    color: #ff5555;
    border: 2px solid;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    background: transparent;
}
.section-title {
    border-bottom: 1px solid #5f5f5f;
    color: #5f5f5f;
}
.categories-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1em;
}
.category-input {
    display: none;
}
.category-label {
    cursor: pointer;
    border: solid 1px #ff5655;
    border-radius: 1em;
    color: #ff5655;
    padding: 0 1em;
    margin: 0.5em 0 0.5em;
}
.category-input:checked + .category-label {
    color: white;
    background-color: #ff5655;
}
.condition-area {
    padding: 1em;
    width: 100%;
}
.item-name {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
.brand-name {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}
.item-info {
    resize: none;
    width: 100%;
    height: 10em;
}
.price {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
}
.price-content {
    border: 1px solid currentColor;
    height: 3em;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.price-area {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    display: flex;
}
.price-area::before {
    content: "ï¿¥";
}
.exhibition-btn {
    margin: 2em 0;
}
